#content-area {
    width: 100%;
    max-width: 100%;
    padding: 0 16px;
    margin: 3rem auto;
}

@media (min-width: 768px) {
    #content-area {
        max-width: 720px;
    }
}

@media (min-width: 1024px) {
    #content-area {
        max-width: 960px;
    }
}

@media (min-width: 1280px) {
    #content-area {
        max-width: 1200px;
    }
}.h-6 {
    height: 2.5rem
}

[data-component-part="step-title"] {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

hr {
    margin-top: 15px !important;
    margin-bottom: 20px !important;
}

[data-component-part="update-tag-list"] [data-component-part="update-tag"] {
    background-color: rgb(238 242 240);
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    border-radius: 9999px;
}

#footer img {
    height: 36px
}