{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI For Motor Insurance",
    "description": "API's that you need to use to issue insurance policies to your clients",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sandbox.yasmina.ai/api/v1/car-comp"
    },
    {
      "url": "https://production.yasmina.ai/api/v1/car-comp"
    }
  ],
  "security": [
    {
      "Oauth2": []
    }
  ],
  "paths": {
    "/quote-requests/{id}": {
      "get": {
        "tags": ["Quotes"],
        "summary": "Show quote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Single quote details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "404": {
            "description": "Quote not found"
          }
        }
      },
      "delete": {
        "summary": "Delete quote",
        "tags": ["Quotes"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Quote deleted successfully."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Quote not found"
          }
        }
      }
    },
    "/quote-requests": {
      "get": {
        "tags": ["Quotes"],
        "summary": "List quotes",
        "responses": {
          "200": {
            "description": "Paginated list of quotes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current_page": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/QuoteResponse"
                      }
                    },
                    "first_page_url": {
                      "type": "string"
                    },
                    "from": {
                      "type": "integer",
                      "nullable": true
                    },
                    "last_page": {
                      "type": "integer"
                    },
                    "last_page_url": {
                      "type": "string"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "active": {
                            "type": "boolean"
                          }
                        }
                      }
                    },
                    "next_page_url": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "per_page": {
                      "type": "integer"
                    },
                    "prev_page_url": {
                      "type": "string"
                    },
                    "to": {
                      "type": "integer",
                      "nullable": true
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "For getting prices with benefits. \nThe Quote IDs can be used later to issue a policy",
        "tags": ["Quotes"],
        "summary": "Request quotes",
        "responses": {
          "200": {
            "description": "Insurance quote details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_id": {
                    "type": "string",
                    "pattern": "^(1|2|7)\\d{9}$",
                    "description": "Owner ID must be 10 digits starting with 1, 2, or 7"
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "description": "Email address must be valid and belongs to the customer"
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^05\\d{8}$",
                    "description": "Phone number must start with 05 and be 10 digits"
                  },
                  "birthdate": {
                    "type": "string",
                    "format": "date",
                    "description": "Birthdate in YYYY-MM-DD format"
                  },
                  "car_sequence_number": {
                    "type": "string",
                    "pattern": "^\\d{8,9}$",
                    "description": "Car sequence number must be 8 or 9 digits"
                  },
                  "custom_number": {
                    "type": "string",
                    "pattern": "^[1-9]\\d{6,9}$",
                    "description": "Custom car number between 1000000 and 9999999999 (for newly imported cars)"
                  },
                  "is_ownership_transfer": {
                    "type": "boolean",
                    "default": false,
                    "description": "Indicates if the ownership is being transferred"
                  },
                  "current_car_owner_id": {
                    "type": "string",
                    "pattern": "^(1|2|7)\\d{9}$",
                    "description": "Required if is_ownership_transfer is true; 10 digits starting with 1,2,7"
                  },
                  "car_estimated_cost": {
                    "type": "number",
                    "description": "Estimated cost of the car"
                  },
                  "car_model_year": {
                    "type": "integer",
                    "minimum": 1950,
                    "maximum": 2026,
                    "description": "Car model year between 1950 and next year"
                  },
                  "start_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Desired policy start date in YYYY-MM-DD. Must be between tomorrow and 28 days from today (inclusive). The platform validates this range server-side.",
                    "example": "2025-12-11"
                  },
                  "drivers": {
                    "type": "array",
                    "description": "List of drivers for the vehicle. When provided, the sum of all driving_percentage values must equal 100, and the owner must be included among the drivers.",
                    "items": {
                      "type": "object",
                      "required": [
                        "owner_id",
                        "birthdate",
                        "driving_percentage"
                      ],
                      "properties": {
                        "owner_id": {
                          "type": "string",
                          "pattern": "^(1|2|7)\\d{9}$",
                          "description": "Driver's national ID. Must be 10 digits starting with 1, 2, or 7."
                        },
                        "birthdate": {
                          "type": "string",
                          "format": "date",
                          "description": "Driver's birthdate in YYYY-MM-DD format."
                        },
                        "driving_percentage": {
                          "type": "integer",
                          "enum": [25, 50, 75, 100],
                          "description": "Percentage of driving for this driver. Valid values are 25, 50, 75, or 100. The sum of all drivers' percentages must equal 100."
                        }
                      }
                    },
                    "example": [
                      {
                        "owner_id": "1234567890",
                        "birthdate": "1990-01-15",
                        "driving_percentage": 50
                      },
                      {
                        "owner_id": "2345678901",
                        "birthdate": "1985-06-20",
                        "driving_percentage": 50
                      }
                    ]
                  }
                },
                "required": [
                  "owner_id",
                  "phone",
                  "birthdate",
                  "car_estimated_cost"
                ]
              }
            }
          }
        }
      }
    },
    "/policies/{carPolicy}": {
      "get": {
        "description": "Show a specific policy",
        "tags": ["Policies"],
        "summary": "Show policy",
        "parameters": [
          {
            "required": true,
            "name": "carPolicy",
            "in": "path",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          }
        }
      }
    },
    "/policies": {
      "get": {
        "description": "Listing requested policies",
        "tags": ["Policies"],
        "summary": "List policies",
        "parameters": [
          {
            "name": "quote_request_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "quote_price_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "provider_policy_id",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "car_sequence_number",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "new_owner_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },

          {
            "name": "previous_owner_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },

          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_price",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "max_price",
            "in": "query",
            "schema": {
              "type": "number"
            }
          },

          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Policy"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "description": "For issuing a new policy",
        "summary": "Issue policy",
        "tags": ["Policies"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quote_request_id": {
                    "type": "integer",
                    "description": "ID of the car quote request",
                    "example": 123
                  },
                  "quote_reference_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identifier for the quote reference ID (coming from POST /quote-requests)",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "quote_price_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identifier for the quote price ID that exists inside a quote item (coming from POST /quote-requests)",
                    "example": "550e8400-e29b-41d4-a716-446655440001"
                  },
                  "benefits": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uuid",
                      "description": "UUID of a benefit (coming from POST /quote-request)"
                    },
                    "description": "List of benefit UUIDs",
                    "example": [
                      "6f45768d-edcd-4bb0-ab8a-712d549deee9",
                      "2f276e18-0c6e-49ca-b6e6-64700a1bef90"
                    ]
                  },
                  "extra_fields": {
                    "type": "object",
                    "description": "Optional free-form object with additional fields. Total JSON-encoded size must not exceed 255 characters.",
                    "additionalProperties": true,
                    "example": {
                      "some_key": "some value",
                      "another_key": 123
                    }
                  }
                },
                "required": [
                  "quote_request_id",
                  "quote_reference_id",
                  "quote_price_id"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Policy"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "description": "Problem in the values that you submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "example": {
                    "code": "42201",
                    "message": "The vin must be 17 characters. (and 3 more errors)",
                    "details": {
                      "vin": ["The vin must be 17 characters."],
                      "car_sequence_number": [
                        "The car sequence number must be 9 digits."
                      ],
                      "new_owner_id": ["The new owner id must be 10 digits."],
                      "current_car_owner": [
                        "The current owner id field cannot be empty."
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/quote-otp": {
      "post": {
        "tags": ["OTPs"],
        "summary": "Request OTP for quote verification",
        "description": "This endpoint sends a one-time password (OTP) to the provided email and phone number for quote verification. It should be called before creating a quote request.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "someone@example.com",
                    "description": "Email address of the car owner"
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^05\\d{8}$",
                    "example": "0501234567",
                    "description": "Phone number starting with 05 and containing 10 digits"
                  },
                  "owner_id": {
                    "type": "string",
                    "pattern": "^(1|2|7)\\d{9}$",
                    "example": "1012345678",
                    "description": "National ID or Iqama ID of the car owner (10 digits)"
                  }
                },
                "required": ["email", "phone", "owner_id"]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OTP sent successfully",
            "content": {}
          },
          "400": {
            "description": "Invalid request or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "40000"
                    },
                    "message": {
                      "type": "string",
                      "example": "Mobile is registered with different ID number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/issue-otp": {
      "post": {
        "tags": ["OTPs"],
        "summary": "Request OTP for Issuing Policy",
        "description": "This endpoint sends a one-time password (OTP). It should be called before issuing a policy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "someone@example.com",
                    "description": "Email address of the car owner"
                  },
                  "phone": {
                    "type": "string",
                    "pattern": "^05\\d{8}$",
                    "example": "0501234567",
                    "description": "Phone number starting with 05 and containing 10 digits"
                  },
                  "owner_id": {
                    "type": "string",
                    "pattern": "^(1|2|7)\\d{9}$",
                    "example": "1012345678",
                    "description": "National ID or Iqama ID of the car owner (10 digits)"
                  },
                  "quote_request_id": {
                    "type": "integer",
                    "description": "ID of the car quote request",
                    "example": 123
                  },
                  "quote_reference_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identifier for the quote reference ID (coming from POST /quote-requests)",
                    "example": "550e8400-e29b-41d4-a716-446655440000"
                  },
                  "quote_price_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Unique identifier for the quote price ID that exists inside a quote item (coming from POST /quote-requests)",
                    "example": "550e8400-e29b-41d4-a716-446655440001"
                  }
                },
                "required": [
                  "email",
                  "phone",
                  "owner_id",
                  "quote_request_id",
                  "quote_reference_id",
                  "quote_price_id"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "OTP sent successfully",
            "content": {}
          },
          "400": {
            "description": "Invalid request or missing parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "40000"
                    },
                    "message": {
                      "type": "string",
                      "example": "Mobile is registered with different ID number"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "NotFound": {
        "description": "Record not found",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "40401"
                },
                "message": {
                  "type": "string",
                  "example": "Not found"
                }
              }
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "example": "40101"
                },
                "message": {
                  "type": "string",
                  "example": "Unauthenticated"
                }
              }
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable Entity",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "QuoteResponse": {
        "type": "object",
        "properties": {
          "owner_id": {
            "type": "integer",
            "description": "The owner’s national ID or Iqama ID"
          },
          "phone": {
            "type": "string",
            "description": "The owner's phone number"
          },
          "birthdate": {
            "type": "string",
            "format": "date",
            "description": "The owner's birthdate. Hijri for Saudi nationals, Gregorian for others"
          },
          "car_sequence_number": {
            "type": "integer",
            "description": "The car sequence number from 9 digits"
          },
          "custom_number": {
            "type": "string",
            "description": "Custom car number for newly imported cars (present when `custom_number` was used in the request)"
          },
          "is_ownership_transfer": {
            "type": "boolean",
            "description": "Whether it was a car transfer or not"
          },
          "car_estimated_cost": {
            "type": "number",
            "description": "The estimated cost of the car"
          },
          "car_model_year": {
            "type": "integer",
            "description": "The car model year"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "Requested policy start date in YYYY-MM-DD. Returned if provided in the quote request."
          },
          "drivers": {
            "type": "array",
            "description": "List of drivers associated with this quote request. Returned if drivers were provided in the request.",
            "items": {
              "type": "object",
              "properties": {
                "owner_id": {
                  "type": "string",
                  "description": "Driver's national ID (10 digits starting with 1, 2, or 7)"
                },
                "birthdate": {
                  "type": "string",
                  "format": "date",
                  "description": "Driver's birthdate in YYYY-MM-DD format"
                },
                "driving_percentage": {
                  "type": "integer",
                  "description": "Percentage of driving for this driver (25, 50, 75, or 100)"
                }
              }
            }
          },
          "quotes": {
            "description": "An array representing each insurance company quote. Each item has the company name, the prices, and the benefits.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "company_name": {
                  "type": "string"
                },
                "prices": {
                  "type": "array",
                  "description": "An array representing each price. This will have the premium and the deductible",
                  "items": {
                    "$ref": "#/components/schemas/QuotePrice"
                  }
                },
                "benefits": {
                  "type": "array",
                  "description": "An array representing the different benefits offered by the company. Some of them are free and comes with the insurance, some are paid and optional",
                  "items": {
                    "$ref": "#/components/schemas/Benefit"
                  }
                }
              }
            }
          },
          "client_id": {
            "description": "Your own client ID",
            "type": "string",
            "format": "uuid"
          },
          "updated_at": {
            "description": "In case of an update on this quote, this date will change",
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "description": "When was the quote requested",
            "type": "string",
            "format": "date-time"
          },
          "id": {
            "description": "Yasmina ID for the quote. You can use it to delete items or showing it again to the customer",
            "type": "integer"
          }
        }
      },
      "CompanyQuote": {
        "type": "object",
        "properties": {
          "company_name": {
            "type": "string"
          },
          "prices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/QuotePrice"
            }
          },
          "benefits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Benefit"
            }
          }
        }
      },
      "QuotePrice": {
        "type": "object",
        "properties": {
          "quote_price_id": {
            "type": "string",
            "format": "uuid"
          },
          "deductible": {
            "type": "number"
          },
          "subtotal": {
            "type": "number"
          },
          "vat_percentage": {
            "type": "number",
            "example": 15
          },
          "vat": {
            "type": "number"
          },
          "total": {
            "type": "number"
          }
        }
      },
      "Benefit": {
        "type": "object",
        "properties": {
          "quote_benefit_id": {
            "type": "string",
            "format": "uuid"
          },
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "vat": {
            "type": "number"
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Policy": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "meta_data": {
            "type": "object"
          },
          "start_date": {
            "type": "string"
          },
          "provider_policy_id": {
            "type": "integer"
          },
          "provider_policy": {
            "type": "string"
          },
          "order_status": {
            "type": "integer"
          },
          "approval_status": {
            "type": "integer"
          },
          "end_date": {
            "type": "string"
          },
          "is_claimed": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          },
          "client_id": {
            "type": "string"
          },
          "canceled_at": {
            "type": "string",
            "nullable": true
          },
          "invoice": {
            "type": "string"
          },
          "cancellation_document": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "description": "JWT Authorization header using the Bearer scheme",
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  }
}
